@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}


h2{
  font-size: 65px;
  font-weight: 700;
  line-height: 80px;
}
h3{
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
}
.App {
  font-family: 'Pretendard';

}

.item-img{
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

.navbar{
  margin-bottom: 80px;
  color: #000;

}

.mainBanner{
  height: 760px;
  margin: 0 auto;
  background-repeat: no-repeat;
  overflow: hidden;
}

.mainBanner .flex{
  display: flex !important;
  justify-content: space-between;
}

.mainBanner .flex .bannerText{
  width: 30%;
  height: 760px;
  padding: 70px 20px;
}
.mainBanner .flex .bannerImg{
  display: block;
  width: 70%;
}

.mainBanner .slick-dots{
  bottom: 50px;
}

.mainBanner .smallText{
  margin-top: 50px;
  position: relative;
}

.mainBanner .smallText span{
  display: block;
  width: 28px;
  height: 28px;
  background-color: #00a0d9;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 70px;
}

.mainBanner .slick-prev{
  display: block;
  z-index: 1;
  top: 85%;
  left: 20px;
}
.mainBanner .slick-next{
  display: block;
  z-index: 1;
  top: 85%;
  left: 120px;
}

.mainBanner .slick-prev::before{
  content: url(../public/img/prevBtn.png);
}

.mainBanner .slick-next::before{
  content: url(../public/img/nextBtn.png);
}

.section_01{
  padding-bottom: 50px;
  border-bottom: solid 1px #dee2e6;
}

.title{
  margin: 150px 0 50px;
  text-align: center;
}
.section_01 >h3{
  margin: 150px 0 50px;
  text-align: center;
}
.section_01 .videoBox{
  position: relative;
}

.section_01 .videoBox >div{
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.section_01 .videoBox video{
  position: absolute;
  top: 0;
  left: -400px;
  width: 1440px !important;
}

.slick-dots{
  top: 0;
  left: 0;
  height: 400px;
}

.section_01 .slick-dots li{
  width:100%;
  margin-bottom: 40px;
}

.section_01 .slick-dots li.slick-active button:before{
  font-weight: 700;
  font-size: 25px;
  color: #00a0d9;
  line-height: 30px;
}

.section_01 .slick-dots li button::before{
  width: 100%;
  text-align: left;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  transition: 0.4s ease; 
}

.section_01 .slick-dots li:nth-child(1) button::before{
  content: "HYBRID Z SPRING";
}

.section_01 .slick-dots li:nth-child(2) button::before{
  content: "5 FREE SYSTEM";
}

.section_01 .slick-dots li:nth-child(3) button::before{
  content: "NEW MATERIAL";
}

.section_01 .slick-dots li:nth-child(4) button::before{
  content: "ECO & HEALTH";
}

.mainBanner .slick-dots li.slick-active button:before{
  color: #000;
}

.section_01 .videoBox .text{
  position: absolute;
  right: 70px;
  bottom: 0;
  font-size: 32px
}

.section_01 .text p{
  font-weight: 600;
  margin-bottom: 25px;
}

.section_01 .text .small{
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
}


/* tab */
.nav-tabs{
  --bs-nav-tabs-border-width:0;
  justify-content: center;
}

.tab-content>.active{
  width: 1440px;
  margin: 0 auto;
}

.container{
  width: 1440px;
  margin: 0 auto;
  --bs-gutter-x: 0;
  max-width: 1440px;
}

.container::after{
  content: "";
  display: block;
  clear: both;
}

.inner{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.inner h2{
  font-size: 40px;
  /* color: #00a0d9; */
}

.inner .listbox{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.inner .listbox >div{
  margin-left: 50px;
}


